html, body, #map {
  width: 100%; padding: 0; margin: 0;
  font-family: Arial;
}
.required {
    color: red;
}
.field-block input, .field-block select {
    float: right;
}
.field-row {
    width: 500px;
}
form {
    margin-left: 30px;
}
.form-control {
    width: 175px;
}

#map {
  height: 250px;
}
/* Оформление меню (начало)*/
.menu {
  list-style: none;
  padding: 5px;

  margin: 0;
}
.submenu {
  list-style: none;

  margin: 0 0 0 20px;
  padding: 0;
}
.submenu li {
  font-size: 90%;
}
.image-spinner {
  width: 20%;
  z-index: 100;
  display: none;
}
#schedule-select{
    display: none;
}