{% extends "base.html" %}

{% block scripts %}
   <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js" ></script>
{% endblock %}

{% block content %}
<script>
  $(function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>
<div>
<div><a href="/">Main page</a></div>
<div class="btn btn-info" id="get-sender-orders">Get Orders</div>
<div class="btn btn-info" id="confirm-sender-orders">ConfirmSenderOrders</div>
</div>
<br />
<p>Выбрать дату отгрузки: <input type="text" id="datepicker"></p>
<br />
<select class="form-control" id="shipment-type"><option value="withdraw">Забор</option><option value="import">Самопривоз</option></select>
<br />
<div id="orders-list"></div>
<script>
    $(document).ready(function(){

        $('#confirm-sender-orders').click(function(){

            var orderCheckers = $('input:checkbox[name=order]:checked');
            var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
            var shipmentType = $( "#shipment-type option:selected" ).val();
            var orderIds = [];
            $.each(orderCheckers, function(index, elem){
                orderIds.push($(elem).val());
            })

            if(!date){
                alert("Необходимо выбрать дату отгрузки для подтверждения");
                return;
            }

            if(orderIds.length == 0){
                alert("Необходимо выбрать заказы для подтверждения");
                return;
            }

            confirmSenderOrders(orderIds, date, shipmentType);
        });

        $('#get-sender-orders').click(function(){
            $.ajax({
                  url: "/getSenderOrders",
                  data: {'real': 1},
                  success: function( response ) {
                      var result = $.parseJSON(response)
                        console.debug('Result', result);
                      if(result.status == 'error'){
                        alert (JSON.stringify(result));
                        return;
                      }
                      var ordersList = $("#orders-list");
                      $.each(result.data.orders, function(key, value){

                          var orderItemElem = $('<div>', {
                               class: 'order-item',
                               id: value.order_id + '-' + value.num
                          });

                          var deliveryName = value.delivery.unique_name ? value.delivery.unique_name : "не определена";

                          $('<input/>', {
                            type: 'checkbox',
                            name: 'order',
                            value: value.order_id
                          }).appendTo(orderItemElem);

                          $('<label>', {
                            for: 'order'
                          }).text(value.order_id + '-' + value.num + ', служба ' + deliveryName ).appendTo(orderItemElem);

                          $('<a>', {
                            class: 'label-link',
                            id: value.order_id,
                            href: '/getSenderOrderLabel?order_id=' + value.order_id,
                          }).text(' Получить ярлык ').appendTo(orderItemElem);

                          orderItemElem.appendTo('#orders-list');

                      })

                  }
                });
        });
    });
    function confirmSenderOrders(orderIds, date, shipmentType='withdraw'){
        var stringifyOrderIds = orderIds.join(',');
        var data = {order_ids: stringifyOrderIds, shipment_date: date, type: shipmentType}

        $.ajax({
        url: "/confirm",
        data: data,
        success: function (response) {
          var parsedResponse = $.parseJSON(response);
          alert(JSON.stringify(parsedResponse));
        }
      });
    }
</script>
{% endblock %}