{% extends "base.html" %}
{% block content %}
<div><a href="/">Main page</a></div>
<p>{{ get_flashed_messages() }}</p>
{% from "_formhelpers.html" import render_field %}
<form method=post action="/searchDeliveryList">
    <div class="field-row">
        {{ render_field(form.city_from) }}
        {{ render_field(form.city_to) }}
        {{ render_field(form.weight) }}
        {{ render_field(form.length) }}
        {{ render_field(form.width) }}
        {{ render_field(form.height) }}
        {{ render_field(form.total_cost) }}
        {{ render_field(form.assessed_value) }}
        {{ render_field(form.index_city) }}
        {{ form.csrf_token }}
    <p><input type="Submit" value="SearchDeliveryList">
    </div>
</form>

<hr>
{{search_list}}
<script type="text/javascript">
$(document).ready(function(){
    $( "#city_from" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/autocomplete",
          data: {
            term: request.term, type: 'locality'
          },
          success: function( data ) {
            var result = $.parseJSON(data)
            response( result.data.suggestions );
          }
        });
      },
      minLength: 2,
    });
    $( "#city_to" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/autocomplete",
          data: {
            term: request.term, type: 'locality'
          },
          success: function( data ) {
            var result = $.parseJSON(data)
            response( result.data.suggestions );
          }
        });
      },
      minLength: 2,
    });
  });
</script>
{% endblock %}
